.footer_contaier{
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-around;
    font-size: 1.5rem;
    color: black;
    flex-shrink: unset;
    margin-bottom: 4rem;
}
.footer_contaier .social_share img{
    width: 3rem;
    height: 3rem;
}

.footer_contaier li{
    list-style: none;
}
.footer_contaier a{
    text-decoration: none;
    color: rgb(58, 57, 57);
}

.footer_contaier .info1 img{
    width: 6rem;
}
.footer_contaier .info1,p,h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.footer_contaier .info1{
    width: 30rem;
    margin-bottom: 9rem;
}
.footer_contaier .info4{
    margin-bottom: 23rem;
}